body {
	margin: 0;
	padding: 0;
	background-color:#b3b3b0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.page-wrapper{
	width:1024px;
	background-color:#fff;
	min-height:500px;
	margin:auto;
	-webkit-box-shadow: 6px 6px 32px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 32px 1px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 32px 1px rgba(0,0,0,0.75);
	transition: all 0.5s ease-out;
	opacity:0;
}

.header{
	padding:10px;
	border-bottom:1px solid #ccc;
}

.header .logo{
	width:56px;
	height:24px;
	object-fit:cover;
	float:left;
	margin-right:10px;
}

.header .search-box{
	margin-right:10px;
}

.header .categories-selection{
	margin-right:10px;
}

.movie-listing{
	padding:10px;
}

.movie{
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}

.tags span{
	color:green;
}

.tags span:after{
	content:",";
	color:black;
	margin:0 5px 0 0;
}

.tags span:last-child:after{
	content:"";
}
.movie-image{
	float: left;
    width: 100px;
    height: 70px;
    margin-right: 10px;
	object-fit: cover;
}

.movie h3,
.movie h4,
.movie h5,
.movie h6{
	margin:0 0 3px 0;
	font-weight:normal;
	white-space:normal;
}

.movie a,
.movie a:hover{
	color:black;
}

.movie a{
	text-decoration:none;
} 

.movie a:hover{
	text-decoration:underline;
}

.movie-wrap{
	padding:10px;
}
.movie-page{
	white-space:nowrap;
}

.movie-page .movie{
	width:100%;
	display:inline-block;
}

.movie-info-wrap{
	margin-left:110px;
}

.casts-wrap{
	margin-bottom:5px;
}

.casts-wrap .cast{
	padding: 2px 0;
}

.casts-wrap .cast .role{
	color:green;
}

.casts-wrap .cast .name{
	font-size: 0.8em;
}

.casts-wrap .cast .actions{
	float:right;
}

.casts-wrap .cast .actions button:hover{
	cursor:pointer;
}

.casts-wrap .cast:hover{
	background-color:#efefef;
}

.cast-modal-form{
	display:none;
}

.add-cast-btn{
	float:right;
}

.add-cast-btn:hover{
	cursor:pointer;
}

.cast-modal-form .bg{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	background-color:#fff;
	transition: all 0.5s ease-out;
	opacity:0.9;
}

.cast-modal-form.show{
	display:flex;
	flex-direction:row;
	align-items:center;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.cast-modal-form.show .inner{
	width:100%;
	height:auto;
	text-align:center;
	z-index:10;
}

.cast-form-wrap h4{
	margin:0;
}

.cast-form-wrap span.label{
	display:inline-block;
	width:50px;
}

.cast-form-wrap .label{
	margin-right:10px;
	margin-top:10px;
}

.cast-form-wrap input{
	width:225px;
	padding:5px;
}

.cast-form-wrap{
	display:inline-block;
	width:300px;
	height:auto;
	padding:10px;
	text-align:left;
	border-radius:5px;
	background-color:white;
	-webkit-box-shadow: 6px 6px 32px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 32px 1px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 32px 1px rgba(0,0,0,0.75);
}
